.main-section {
    padding: 150px 0 140px;
    background-color: $gray-100;
    background-repeat: no-repeat;
    background-position: left center;
    color: $white;

    h1 {
        width: 50%;
        padding-right: 170px;
        span {
            display: block;
            width: 90%;
            font-size: 104px;
            font-weight: 800;

            &.top {
                margin-bottom: 60px;
                font-size: 24px;
                font-weight: 400;
                line-height: 48px;
            }
        }
    }

    .slider-wrapper {
        position: relative;
        max-height: 610px;
        max-width: 950px;
    }

    .content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 66px;
        z-index: 10;
        background: linear-gradient(236.54deg, rgba(48, 48, 48, 0) 0%, #303030 100%);
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0 100px;

            &:hover {
                h2, p {
                    color: rgba(255,255,255, .5);
                }
            } 
        }

        h2,p {
            width: 45%;
            transition: color .3s ease;
        }

        h2 {
            font-size: 48px;
            font-weight: 700;
            line-height: 65px;

            span {
                position: relative;
                display: block;
                margin-bottom: 10px;
                padding-left: 15px;
                font-size: 16px;
                font-weight: 300;
                color: rgba(255,255,255, .5);

                &:before {
                    position: absolute;
                    content: '\e900';
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0px;
                    width: 4px;
                    height: 4px;
                    background-color: rgba(255,255,255, .5);
                    border-radius: 50%;
                }
            }
        }

        p {
            font-size: 24px;
            line-height: 36px;
            color: $white;
        }
    }

    video {
        max-height: 610px;
        max-width: 950px;
    }

    .slick-arrow {
        bottom: -15px;
        top: inherit;
        z-index: 10;

        &.slick-prev {
            left: inherit;
            right: 65px;
        }

        &.slick-next {
            right: 25px;
        }
    }

    .slick-dots {
        display: flex;
        background-color: $gray;

        li {
            width: auto;
            height: auto;
            margin: 0;
            padding: 19px 30px;
            font-size: 16px;
            transition: background .3s ease;

            &.slick-active,
            &:hover {
                background-color: $gray-100;
            }
        }
        button {
            color: $white;

            &:before {
                background-color: $white;
            }
        }
    }
}