.miss-section {
    padding: 0 0 200px;
    background-color: $gray-100;

    @include media('<=desktop-max') {
        padding: 0 0 60px;
    }

    .inner-wrapper {
        @include media('<=desktop') {
            flex-direction: column;
        }
    }

    h2 {
        font-weight: 400;

        @include media('<tablet') {
            margin: 0 0 40px;
        }

        span {
            display: block;
            font-weight: 700;
            color: $white;
        }
    }

    a {
        color: $white;
    }

    .title-wrapper,
    .slider-wrapper {
        width: 50%;

        @include media('<=desktop') {
            width: 100%;
        }
    }

    .title-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .item {
        position: relative;
        
        @include media('<tablet') {
            display: flex !important;
            flex-direction: column-reverse;
        }
    }

    .content-wrapper {
        margin-right: 70px;
        padding: 75px 75px 85px;
        background-color: $gray;

        @include media('<tablet') {
            margin-right: 0;
            padding: 30px 30px 85px;
        }

        a {
            display: block;
            width: 65%;
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;

            @include media('<tablet') {
                width: 100%;
            }
        }

        p {
            font-size: inherit;
        }
    }

    .date-block {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        padding: 32px 33px;
        background-color: $red;

        @include media('<tablet') {
            position: relative;
            top: inherit;
            right: inherit;
            transform: translateY(0);
        }
    }

    time {
        margin-bottom: 30px;
    }

    .slick {

        &-arrow {
            top: inherit;
            bottom: 50px;
            z-index: 10;
            
            &:before {
                font-family: 'icomoon';
            }
        }

        &-prev {
            left: 75px;

            @include media('<tablet') {
                left: 30px;
            }
            
            &:before {
                content: '\e902';
            }
        }

        &-next {
            right: inherit;
            left: 123px;

            @include media('<tablet') {
                left: 73px;
            }

            &:before {
                content: '\e901';
            }
        }
    }
}