.news-section {
    position: relative;
    min-height: 835px;
    background-color: $gray-100;

    .container  {
        position: relative;
    }



    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
    }

    a {
        margin-right: 30px;
    }

    .news-slider {
        position: absolute;
        top: 145px;
        left: 0;
        right: -999px;

        @include media('<=widescreen') {
            left: 20px;
        }
    }

    .item {
        position: relative;
    }

    .content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 100px;
        color: $white;

        time {
            margin-bottom: 30px;
            color: rgba(255,255,255, .5);
        }

        h3 {
            width: 49%;
            margin: 0 0 30px;
            font-size: 48px;
            font-weight: bold;
            line-height: 65px;
            color: $white;
            transition: color .3s ease;
        }
    }

    .slick {

        &-track {
            margin: 0 -30px;

            @include media('<=widescreen') {
                margin: 0 -20px;
            }   
        }

        &-slide {
            padding: 0 30px;

            @include media('<=widescreen') {
                padding: 0 20px;
            }
        }

        &-arrow {
            top: auto;
            bottom: -55px;

            @include media('<=large') {
                bottom: -65px;
            }
        }

        &-prev {
            left: 0;
        }

        &-next {
            right: inherit;
            left: 40px;
        }
    }

    h2 {
        margin: 0;
    }

    .progress-wrapper {
        position: absolute;
        display: block;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1600px;
        margin-left: 90px;

        @include media('<=widescreen') {
            left: 20px;
            right: 20px;
            transform: translateX(0);
            width: auto;
        }
    }

    .progress {
        height: 2px;
        background-color: $gray;
        background-image: linear-gradient(to right, $red, $red);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .3s ease-in-out;
    }
}