.news-list-section {
    padding: 77px 0 100px;

    h2 {
        margin: 0 0 60px;
        font-size: 48px;
        font-weight: bold;
        line-height: 65px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -20px;
        padding: 0;
        list-style: none;
    }

    li {
        width: 33.3%;
        margin-bottom: 59px;
        padding: 0 20px;
    }

   
}