.why-we-section {
    padding: 60px 0 167px;
    background-color: $gray-100;
    color: rgba(255,255,255, .75);

    .title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        h2 {
            margin-left: -22.5%;

            @include media('<=large') {
                width: 30%;
            }
        }

        img {
            @include media('<=large') {
                width: 70%;
            } 
        }

        
    }

    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        line-height: 36px;

        h2 {
            margin-bottom: 40px;
            font-size: 48px;
            font-weight: 700;
            line-height: auto;
            color: $white;

            .subtitle {
                display: block;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 400;
            }
        }

        h3 {
            margin: 0 0 40px;
            font-weight: 700;
            color: $white;
        }

        p {
            margin-bottom: 60px;
        }
    }

    .col {
        padding: 0 80px;
        width: 53%;

        &:first-of-type {
            width: 43%;
        }

        &-fluid {
            display: flex;
            width: 100%;

            .content {
                width: 40%;
                padding-right: 105px;

                @include media('<=widescreen') {
                    padding-right: 50px;
                }
            }

            .img-block {
                width: 60%;
                background: radial-gradient(50% 50% at 50% 50%, #303030 0%, rgba(48, 48, 48, 0) 100%);
            }
        }
    }
}