body {
    font-family: 'Open Sans', sans-serif;
    color: $white;
}

#wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    @include media('<=widescreen') {
        padding: 0 20px;
    }
}

.inner-wrapper {
    display: flex;
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

time,
.address {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: $white;

    &:before {
        position: absolute;
        content: '\e903';
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-family: 'icomoon';
        color: rgba(255, 255, 255, .5);
    }
}

.address {
    &:before {
        content: '\e905 ';
    }
}

h2 {
    font-size: 72px;
    font-weight: 800;
    color: $white;

    @include media('<=large') {
        font-size: 48px;
    }

    @include media('<tablet') {
        font-size: 40px;
    }

    span:not(.subtitle) {
        color: $red;
    }
}

a,
button,
input[type='submit'] {
    transition: opacity .3s ease, background .3s ease, color .3s ease;
}

input[type='text'],
textarea {
    padding: 0 0 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: $white;
    border: none;
    border-bottom: 1px solid $white;
    background-color: transparent;
    outline: none;

    &::placeholder {
        color: rgba(255, 255, 255, .75);
    }
}

a,
button {
    text-decoration: none;

    &.more,
    &.submit,
    &.subscribe {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: $white;
        border: none;
        background-color: transparent;

        &:after {
            position: absolute;
            content: '\e901';
            top: 50%;
            transform: translateY(-50%);
            right: -30px;
            font-family: 'icomoon';
            color: inherit;
            transition: right .3s ease;

        }

        &:hover {
            color: rgba(255, 255, 255, .5);

            &:after {
                right: -35px;
            }
        }

    }
}

p {
    font-size: 16px;
}

.download-list {

    li:not(:last-child) {
        margin-bottom: 24px;
    }

    a {
        position: relative;
        padding-left: 48px;
        font-size: 18px;
        font-weight: normal;
        line-height: 36px;

        &:before {
            position: absolute;
            content: '\e900';
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            padding: 10px;
            font-family: 'icomoon';
            color: $white;
            border-radius: 50%;
            background-color: $red;
        }
    }
}