.categories {
    background-color: $gray-100;
    background-image: url('/images/products-section-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    .card {
        margin-bottom: 30px;
    }

}