.categories {
    background-color: $gray-100;
    background-image: url('/images/products-section-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    .card {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
            
            @include media('<desktop') {
                margin-bottom: 30px;
            }

            @include media('<=tablet') {
                margin-bottom: 20px;
            }
        }

        @include media('<=tablet') {
            margin-bottom: 20px;
        }
    }

}