.download {
    background-color: $gray-100;
    background-image: url('../../images/download-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 100px;

    @include media('<tablet') {
        background-position: center 60px;
    }

    .h1 {
        margin: 68px 0 0;

        @include media('<=425px') {
            margin: 24px 0 0;
        }
    }
}