.news {
    background-color: $gray-100;
    background-image: url('../../images/news-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 100px;

    @include media('<tablet') {
        background-position: center 60px;
    }

    .h1 {
        margin: 0;
        padding: 68px 0 0;

        @include media('<=widescreen') {
            padding: 0;
        }
    }

    .news-section {
        min-height: 805px;

        @include media('<=widescreen') {
            min-height: 630px;
        }

        @include media('<=desktop') {
            min-height: inherit;
        }
    }

    .news-slider {
        top: 9px;

        @include media('<=desktop') {
            padding-bottom: 0;
        }
    }

    .slick {
        &-arrow {
            bottom: -79px;

            @include media('<=desktop') {
                bottom: -60px;
            }
        }

        &-next {
            left: 52px;
        }
    }

    .progress-wrapper {
        bottom: 34px;
        margin-left: 67px;

        @include media('<desktop-max') {
            bottom: 6px;
            margin-left: 140px;
        }

        @include media('<=desktop') {
            bottom: 9px;
            margin-left: 95px;
        }
    }
}