.news {
    background-color: $gray-100;
    background-image: url('/images/news-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    .h1 {
        margin: 68px 0 0;
    }

    .news-section {
        min-height: 805px;
    }

    .news-slider {
        top: 9px;
    }

    .slick {
        &-arrow {
            bottom: -79px;
        }

        &-next {
            left: 52px;
        }
    }

    .progress-wrapper {
        bottom: 34px;
        margin-left: 67px;
    }
}